@import "global";
@import "vars";
@import "libs";
@import "fonts";


// HEADER
.title{
	font-size: 18px;
	color: $black;
	@include f500;
	margin-bottom: 10px;
}
.preheader{
	background-color: #303030;
}
.preheader__inner{
  display: flex;
  justify-content: space-between;
  @include f400;
  height: 45px;
  align-items: center;
}
.preheader__phone{
	padding-left: 25px;
	position: relative;
	a{
		color: #d3d2d2;
	}
	&:before{
		color: $yellow;
		position: absolute;
		left: 0;
		font-family: 'icomoon';
		content: "\f095";
		font-size: 14px;
	}
}
.preheader__email{
	margin-left: 33px;
	margin-right: auto;
	padding-left: 25px;
	position: relative;
	a{
		color: #d3d2d2;
	}
	&:before{
		color: $yellow;
		position: absolute;
		left: 0;
		font-size: 14px;
	}
}
.preheader__btn{
	padding-left: 49px;
	background-color: $yellow;
	position: relative;
	a{
		padding: 14px 20px 14px 0;
		font-size: 16px;
		color: #1b1b1b;
	}
	&:before{
		color: #1b1b1b;
		position: absolute;
		left: 20px;
		top: 13px;
		font-size: 18px;
	}
}
.header__inner{
	display: flex;
	justify-content: space-between;
	height: 93px;
	align-items: center;
}
.header__logo{
	@include f100;
	font-size: 30px;
	color: #212020;
	span{
		font-weight: 500;
		color: $yellow;
	}
}
.header__menu{
	ul{
		display: flex;
	}
	a{
		padding: 10px 16px;
		border: 2px solid transparent;
		transition: all .5s;
	}
	a:hover{
		border: 2px solid $yellow;
	}
	li + li{
		margin-left: 11px;
	}
}

// SLIDER
.slider-top{
	margin-bottom: 56px;
}
.slider-top__images-rectangle{
	background-color: #000;
	width: 100%;
	height: 497px;
	opacity: .3;
	position: absolute;
}

.slider-top__images{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 497px;
	// position: absolute;
}
.slider-top__form-inner{
	margin: 0 auto;
	max-width: 688px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.slider-top__title{
	text-transform: uppercase;
	padding-top: 128px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 30px;
	@include f500;
}
.slider-top__text{
	color: #d3d2d2;
	font-size: 18px;
	margin-bottom: 45px;
}
.slider-top__btn{
	display: inline-block;
	position: relative;
	@include f500;
		color: #fff;
		padding: 13px 21px;
		border-top: 2px solid $yellow;
		border-left: 2px solid $yellow;
		border-bottom: 2px solid $yellow;
	&::before{
		position: absolute;
		right: -20px;
		top: -2px;
		padding: 15px 8px;
		background-color: $yellow;
	}
}
.slick-prev.slick-arrow{
	&:before{
		
	}
}


// SERVICES
.services__inner{
	margin-bottom: 65px;
	display: flex;
	justify-content: space-between;
}
.services__inner-border{
	width: 106px;
	height: 2px;
	background-color: $yellow;
	margin-top: 12px;
}
.services__inner-wrapper{
	max-width: 390px;
	margin-left: 30px;
	margin-right: auto;
	margin-bottom: 25px;
}
.services__inner-btn{
	padding: 10px 40px;
	border: 3px solid $grey;
	height: 100%;
}
.services__inner-title{
	font-size: 24px;
}
.services__items{
	display: flex;
	justify-content: space-between;
	margin-bottom: 33px;
}
.services__item{
	text-align: center;
	width: 360px;
	height: 365px;
	background-color: $white;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
	padding: 27px 35px 40px;
}
.services__item-logo{
	margin-bottom: 26px;
}
.services__item-title{
	margin-bottom: 26px;
}
.services__item-text{
	margin-bottom: 80px;
}
.services__item-details{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.services__item-details__text{
	@include f400;
	text-decoration: underline;
}
.services__item-details__btn{
	@include f500;
	color: #373636;
}

// ABOUT
.about__inner{
	height: 300px;
	margin-bottom: 40px;
}
.about__img{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 1920px;
	height: 300px;
	position: absolute;
	margin-bottom: 40px;
	z-index: -1;
}
.about__rectangle{
	background-color: #000;
	width: 100%;
	height: 300px;
	opacity: .3;
	position: absolute;
	z-index: -1;
}
.about__wrapper{
	max-width: 550px;
}
.about__title{
	color: #fff;
	@include f500;
	font-size: 24px;
	margin-top: 35px;
	margin-bottom: 30px;
}
.about__text{
	color: #d3d2d2;
	margin-bottom: 35px;
}

// CONSULTATION
.consultation__inner{
	display: flex;
	justify-content: flex-start;
}
.consultation__inner-border{
	width: 106px;
	height: 2px;
	background-color: $yellow;
	margin-top: 12px;
}
.consultation__inner-wrapper{
	max-width: 390px;
	margin-left: 30px;
	margin-right: auto;
	margin-bottom: 40px;
}
.consultation__inner-title{
	font-size: 24px;
}
.consultation__wrapper{
	display: flex;
	justify-content: space-between;
	position: relative;
}
.consultation__form-inner{
	form{
		display: flex;
		justify-content: space-between;
	}
}
.consultation__form-name{
	margin-bottom: 15px;
	input,
	select{
		width: 262px;
		height: 38px;
		border: 1px solid $grey;
	}
}
.consultation__form-text{
	margin-bottom: 10px;
	@include f500;
}
.consultation__form-msg{
	margin-left: 28px;
	margin-right: auto;
	textarea{
		width: 555px;
		height: 196px;
		border: 1px solid $grey;
		margin-bottom: 35px;
		resize: none;
	}
	button{
		background-color: #fff;
		color: #000;
		cursor: pointer;
	}
}
.consultation__form-btn{
	display: flex;
	justify-content: flex-end;
	margin-right: 18px;
}
.consultation__inner-img{
	position: absolute;
	right: 0;
	top: -105px;
}











@import "media";
